---
import experiancesData from "../../public/data/experiances.json"
const experiances = experiancesData.experiances ?? [];
---

<section>
  <h3 class="text-5xl mb-4 underline underline-offset-8 decoration-blue-500">Experiance</h3>
  <div>
    {experiances.map((experiance) => (
      <article>
        <h4 class="font-semibold text-xl mb-2">{experiance.experiance_name}</h4>
        <div class="flex gap-2">
          <div class="w-1 bg-blue-500"></div>
          <div>
            <span class="text-blue-500">{experiance.start_date} - {experiance.end_date}</span>
            <p class="text-sm text-gray-600 dark:text-gray-300">{experiance.description}</p>
            {experiance.skills && (
              <div class="mt-2">
                <span class="font-semibold">Technologies:</span>
                {experiance.skills}
              </div>
            )}
          </div>
        </div>
      </article>
    ))}
  </div>
</section>
